@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section {
        @apply p-1/10;
    }

    .main-text {
        @apply transition-all font-title text-4xl lg:mb-4;
    }

    .list-item {
        @apply mb-12 relative text-right;
    }

    .list-icon {
        @apply transition-all bg-black w-5 h-5 absolute top-0 left-0 lg:left-1/2 overflow-hidden -mx-2.5 rounded-full;
    }

    .list-content {
        @apply transition-all lg:w-45/100 text-left w-95/100 float-right lg:float-none lg:text-right;
    }

    .skill-icon {
        @apply transition-all w-12 lg:w-16 h-12 lg:h-16 bg-white bg-opacity-70 m-3 p-2 rounded-full;
    }

    .list-data {
        @apply transition-all m-7 lg:m-0;
    }
}

.list-data::before {
    content: "";
    width: 3px;
    height: 100%;
    background: #000;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    top: 0;
    position: absolute;
}

@media (max-width: 1024px) {
    .list-data::before {
        left: 0;
    }
}

.list-item::after {
    display: block;
    clear: both;
    content: "";
}


.list-data {
  list-style-type: none;
}


.list-item::marker {
    display: none;
}
